.site-header {
    background-color: #1a94cf;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

} 

.profile-pic {
    border: 1px solid #ddd;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #29B6F6 2px 5px 5px;
    
}


.site-header-content {
    margin: 10px;
}

.course-link {
    color: #ecfdf6;
}

body {
    margin: 0;
}